@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   scroll-behavior: smooth;
   color-scheme: light;
   --productCard: 20rem;
}

@layer components {
   .productCard {
      @apply flex select-none flex-col gap-3 pb-3;
   }

   .productImgWrapper {
      @apply flex aspect-square h-productCard items-center justify-center overflow-hidden rounded-[1.25rem] bg-grey-100;
   }

   .vitrineProductsSkeleton {
      @apply flex gap-3 max-md:[&>*:nth-child(1)]:hidden max-xl:[&>*:nth-child(2)]:hidden max-2xl:[&>*:nth-child(3)]:hidden;
   }

   .hide {
      @apply opacity-0 pointer-events-none duration-100;
   }

   .show {
      @apply opacity-100 pointer-events-auto;
   }
}

/* For Customers Comment section */
.mask-to-l {
   mask-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.mask-to-r {
   mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

/* For search inputs */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}
